{%extends 'base.html' %}
{%load blog_tags %}
{% block title %}静觅丨诚招女友{% endblock title %}

{%block body%}

    <div class="setbg">

    </div>

<p style="font-size: 30px;font-weight: bold">诚招女友</p>
    <hr/>

<p style="font-size: 20px;width: 300px;line-height: 30px">必要条件</p>
    <li style="font-size: 15px;width: 300px;line-height: 30px">物种：没有生殖隔离就行</li>
    <li style="font-size: 15px;width: 300px;line-height: 30px">性别：女（天生的那种）</li>
    <li style="font-size: 15px;width: 300px;line-height: 30px">身高：1~2米</li>
    <li style="font-size: 15px;width: 300px;line-height: 30px">体重：30~300斤</li>
    <li style="font-size: 15px;width: 300px;line-height: 30px">年龄：-5岁（相对本人）</li>
    <li style="font-size: 15px;width: 300px;line-height: 30px">性别：女（天生的那种）</li>
    <li style="color: #6366ff;font-size: 15px;width: 300px;line-height: 30px">追求精神独立，思想自由</li>
    <hr/>

<p style="font-size: 20px;width: 300px;line-height: 30px">加分项</p>
    <li style="font-size: 15px;width: 300px;line-height: 30px">具有中华人民共和国国籍</li>
    <li style="font-size: 15px;width: 300px;line-height: 30px">会某种格斗术</li>
    <li style="font-size: 15px;width: 300px;line-height: 30px">有一至两项让人眼前一亮的业余爱好</li>
    <li style="font-size: 15px;width: 300px;line-height: 30px">长得漂亮</li>

    <br>
    <br>
<h4>阅读我写的文章便可以了解我的精神世界。若您有意了解物质世界中的我，并有意在精神世界和物质世界中都与我和建立超越友谊的美好关系，请联系我：me@nedjango.com</h4>

{% endblock %}
